

<style type="text/css">
body {

 
  font-weight: bold;
  background: url("https://image.freepik.com/free-vector/shiny-background-with-dancing-people-silhouettes_1048-46.jpg") no-repeat center center fixed; 
  background-size: cover;
  max-height: auto;
  max-width: auto;
 </style>

  <div id="logo" class="Sparkle" >
  Welcome To Lit Pic's
</div>

<a id="word" class="waves-effect waves-light btn" href="/login">Login</a>
<a id="word" class="waves-effect waves-light btn" href="/signup">Sign Up</a>