

<style type="text/css">
body {


  font-weight: bold;
  background: url("/home.jpg") repeat center center fixed ;
 </style>

  <div class="Sparkle">
  Welcome To Lit Pic's
</div>

<a class="waves-effect waves-light btn" href="/login">Login</a>
<a class="waves-effect waves-light btn" href="/signup">Sign Up</a>