/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .image {
    margin:10px 300px;
    border-width: 20px;
    border-radius: 50px;
    max-width: 500px;
    border: solid;
  }
  
  .Bold{
    font-weight: bold;
  }

  .Sparkle {
  
  font-size:40px;
  font-family:impact;
  padding-top: 0px;

  
 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(http://www.myspacehippo.com/files/glitterbacks/bg345.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}

.black {
  background-color: black;
}

body {
  background-color: black;
  color:white;
}

.font {
  color: white;
}

#logo {
  margin-left: -150px; 
  font-size: 125px; 
}

#word {
margin-right: 20px;
}

#name {
  font-size: 40px;
  height: 1em;
  margin: 1;

}

.index {
  color: black;
}

.showlist {
  background: url("arrow.png") 0 50% no-repeat;
  float: left;
  margin: 0 10px;
  color: white;
}

.image-sized {
    width: 90%;
    margin: 0 auto;
}    
.image-sized .row div {
    display: inline-block;
    width: 32%;
    background-position: center;
    background-size: cover;
}

.special-i { 
   position: relative; 
   width: 100%;
}

/*span { 
   position: absolute; 
   top: 463px; 
   left: 350px; 
   right:600px;
   width: 500%; 
   color: white;
   border-radius: 1px;
}
*/
  .Sparkle2 {
  
  font-size:40px;
  font-family:impact;
  padding-top: 0px;
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  color: black;
}

