<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Lit Pics</title>
    <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <nav class="black">
    <div class="nav-wrapper container">
      <a href="/users" class="Sparkle">"Lit Pics"</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <% if current_user %>
               <li><a class="font" href="/logout">Log Out</a></li>
               <li><a class="font" href="/profile">My Profile</a></li>
              <% else %>
               <li><a class="font" href="/login">Login</a></li>
               <li><a class="font" href="/signup">Signup</a></li>
               <li><a class="font" href="/">Home</a></li>
              <% end %>
               <li><a class="font" href="/users">People Getting Lit</a></li>
               <li><a class="font" href="/friends">Friends</a></li>
               <li><a class="font" href="/images">All Images</a></li>
               <li><a class="font" href="/images/new">Upload A New Image</a></li>
          </ul>
      <ul class="side-nav" id="mobile-demo">
              <% if current_user %>
               <li><a class="font" href="/logout">Log Out</a></li>
               <li><a class="font" href="/profile">My Profile</a></li>
              <% else %>
               <li><a class="font" href="/login">Login</a></li>
               <li><a class="font" href="/signup">Signup</a></li>
               <li><a class="font" href="/">Home</a></li>
              <% end %>
               <li><a class="font" href="/users">People Getting Lit</a></li>
               <li><a class="font" href="/friends">Friends</a></li>
               <li><a class="font" href="/images">All Images</a></li>
               <li><a class="font" href="/images/new">Upload A New Image</a></li>
      </ul>
    </div>
  </nav>

    
    <div class="container">
      <%= yield %>
    </div>



 


  <!--  Scripts-->
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
  <script>
  if (annyang) {
    // Add our commands to annyang
    annyang.addCommands({
      'take me to all the pictures': function() { 
         window.location.href = "/images";
       },
      'take me to all my friends': function() { 
         window.location.href = "/friends";
       },
      'take me to my page': function() { 
         window.location.href = "/profile";
       },
      'take me to everybody': function() { 
         window.location.href = "/users";
       },
      'upload a new photo': function() { 
         window.location.href = "/images/new";
       },
      'take me to Eric Davis Page': function() { 
         window.location.href = "/users/1";
       },
      'take me to Peter Jang page': function() { 
         window.location.href = "/users/2";
       },
      'take me to Theo page': function() { 
         window.location.href = "/users/3";
       },
      'take me to Michelle Obama page': function() { 
         window.location.href = "/users/10";
       },
      'take me to Monica page': function() { 
         window.location.href = "/users/13";
       },
      'take me to Myles page': function() { 
         window.location.href = "/users/11";
       },
      'take me to Rena page': function() { 
         window.location.href = "/users/12";
       },
      'take me to Bona page': function() { 
         window.location.href = "/users/9";
       },
      'take me to Will Smith page': function() { 
         window.location.href = "/users/5";
       },
      'take me to Denzel Washington page': function() { 
         window.location.href = "/users/4";
       },
      'take me to all not lit pics': function() { 
         window.location.href = "/notlitpics";
       },
      'take me to all lit pics': function() { 
         window.location.href = "/litpics";
       },
    });

    // Tell KITT to use annyang
    SpeechKITT.annyang();

    // Define a stylesheet for KITT to use
    SpeechKITT.setStylesheet('//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/themes/flat.css');

    // Render KITT's interface
    SpeechKITT.vroom();
  }
</script>
  </body>
</html>
