<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Lit Pics</title>
    <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


 
     <nav class="black" role="navigation" >
       <div class="nav-wrapper container">
         <a id="logo-container" href="/users#" class="Sparkle">"Lit Pics"</a>
          <ul class="right hide-on-med-and-down">
              <% if current_user %>
               <li><a class="font" href="/logout">Log Out</a></li>
               <li><a class="font" href="/profile">My Profile</a></li>
              <% else %>
               <li><a class="font" href="/login">Login</a></li>
               <li><a class="font" href="/signup">Signup</a></li>
               <li><a class="font" href="/">Home</a></li>
              <% end %>
               <li><a class="font" href="/users">People Getting Lit</a></li>
               <li><a class="font" href="/friends">Friends</a></li>
               <li><a class="font" href="/images">All Images</a></li>
               <!-- <li><a class="font" href="/litpics">Lit</a></li> -->
               <li><a class="font" href="/images/new">Upload A New Image</a></li>
          </ul>
         <a href="/#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
       </div>
     </nav>



    
    <div class="container">
      <%= yield %>
    </div>



 


  <!--  Scripts-->
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
<script>
<script>
if (annyang) {
  // Let's define our first command. First the text we expect, and then the function it should call
  var commands = {
    'show tps report': function() {
      $('#tpsreport').animate({bottom: '-100px'});
    }
  };

  // Add our commands to annyang
  annyang.addCommands(commands);

  // Start listening. You can call this here, or attach this call to an event, button, etc.
  annyang.start();
}
</script>

<script>
var commands = {
  // annyang will capture anything after a splat (*) and pass it to the function.
  // e.g. saying "Show me Batman and Robin" is the same as calling showFlickr('Batman and Robin');
  'show me *tag': showFlickr,

  // A named variable is a one word variable, that can fit anywhere in your command.
  // e.g. saying "calculate October stats" will call calculateStats('October');
  'calculate :month stats': calculateStats,

  // By defining a part of the following command as optional, annyang will respond to both:
  // "say hello to my little friend" as well as "say hello friend"
  'say hello (to my little) friend': greeting
};

var showFlickr = function(tag) {
  var url = 'http://api.flickr.com/services/rest/?tags='+tag;
  $.getJSON(url);
}

var calculateStats = function(month) {
  $('#stats').text('Statistics for '+month);
}

var greeting = function() {
  $('#greeting').text('Hello!');
}

</script>
  </body>
</html>
